---
import Tag from "~/components/Tag.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const tags = [...new Set(allPosts.flatMap((post) => post.data.tags || []))];
---

<BaseLayout pageTitle="Tags">
  <section class="tags">
    {tags.map((tag) => <Tag tag={tag} />)}
  </section>
</BaseLayout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
</style>
