.alive {
  background-color: white;
  color: black;
}

.dead {
  background-color: black;
  color: white;
}

.table {
  min-width: 80%;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #d2c5c5;
}

.row {
  display: flex;
  flex-direction: row;
}

button {
  padding: 0.5rem;
  font-size: 1.25rem;
}

section {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.25rem;
}