---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Seja bem vindo e bem vinda!</p>
  <p>
    Meu nome é Rodrigo Queiroz, sou aficionado por tecnologia e coisas que
    deixem a vida mais fácil. Se quiser entrar em contato olhe os links abaixo
    :)
  </p>
</BaseLayout>
