---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Sobre mim";
const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "React",
  "Astro",
  "Writing Docs",
  "Python",
  "Java",
  "Processamento de dados",
];
const skillColor = "navy";
---

<BaseLayout>
  <h1>{pageTitle}</h1>
  <h2>... e esse blog de estudo!</h2>

  <p>Estou fazendo o tutorial introdutório do Astro para gerar um blog :)</p>

  <p>Minhas habilidades são:</p>
  <ul>
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>
</BaseLayout>
