---
const { url, title } = Astro.props;
---

<style>
  a {
    font-family: "Courier New", Courier, monospace;
    transition: all 0.5s;
  }

  a:hover {
    color: var(--secondaryColorVariant);
  }
</style>
<li>
  <a href={url}>{title}</a>
</li>
