---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}
  ><slot /><span>{platform}</span></a
>
<style>
  a {
    padding: 0.5rem 1rem;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border: 1px solid var(--secondaryColorVariant);
    text-decoration: none;
    display: flex;
    transition: all 0.5s;
    align-items: center;
  }
  a:hover {
    background-color: var(--secondaryColorVariant);
  }
</style>
