---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Global from "../styles/Global.astro";

const { pageTitle } = Astro.props;

const title = pageTitle?.charAt(0).toUpperCase() + pageTitle?.slice(1);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <h1 class="title">{title}</h1>
    <slot />
    <Footer />
  </body>
</html>

<Global />
<style>
  .title {
    text-transform: capitalize;
  }
</style>
