---
import Tag from "~/components/Tag.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
const { tags } = frontmatter;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Escrito por {frontmatter.author}</p>
  <p>Publicado em {frontmatter.pubDate.toISOString().slice(0, 10)}</p>

  <slot />
  <div class="tags">
    {tags.map((tag) => <Tag tag={tag} />)}
  </div>
  <div>
    <a href="/posts">← Ler mais</a>
  </div>
</BaseLayout>
<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
</style>
